.container {
  min-height: calc(100vh - 210px - 50px - 20px);
}

.collapse_container{
  width: 100%;
}

.layout-collapse {
  width: 65%;
  margin: auto;
}

.layout-collapse-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  background: #FF6060;
  cursor: pointer;
  padding: 7px;
  font-size: 32px;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 40px;
  box-sizing: border-box;
  z-index: 5;
  width: 100%;

}
@media (max-width: 1024px) {
  .layout-collapse-2 {
    font-size: 16px;
  }
}
.layout-collapse-2::after {
  width: 32px;
  height: 32px;
  text-align: center;
  transition: all 0.35s;
}
@media (max-width: 1024px) {
  .layout-collapse-2::after {
    width: 16px;
    height: 16px;
  }
}

.layout-content-collapse p {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
  margin-top: -35px;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  padding-left: 10px;
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .layout-content-collapse p {
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: -10px;
  }
}

.layout_housing p{
  display: flex;
  justify-content:flex-start ;
  list-style: none;
  margin-top: 20px;
}

.layout_housing li {
  list-style: none;
}

.layout-collapse-2 .layout-content-collapse {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
  padding: 0 20px;
  background-color: rgb(246, 246, 246);
  border-radius: 5px;
  list-style: none;
}
.layout-collapse-2 input:checked ~ .layout-content-collapse {
  max-height: 10rem;
  padding: 20px;
}
.layout-collapse-2 input:checked + .layout-collapse-2::after {
  transform: rotate(-180deg);
}

.fa-chevron-up {
  margin-left: 10px;
}
