.container {
  min-height: calc(100vh - 210px - 50px - 20px);
}

.layout-about {
  width: 65%;
  margin: auto;
}

.layout_housing p{
  display: flex;
  justify-content:flex-start ;
  list-style: none;
  margin-top: 20px;
}

.layout_housing li {
  list-style: none;
}


