.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.img_carousel {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 415px;
}

.index_carousel {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #fff;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
}

.carousel figcaption {
  position: absolute;
  bottom: 20px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.btn_carousel_left,
.btn_carousel_right {
  position: absolute;
  cursor: pointer;

}

.btn_carousel_left {
  left: 5px;
  top: 50%;
  background-color: transparent;
  transform: translateY(-50%);

}

.btn_carousel_right {
  right: 5px;
  top: 50%;
  background-color: transparent;
  transform: translateY(-50%);
}

@media (max-width: 1024px) {

  .img_carousel {
    height: 255px;
    width: 100%;
  }

  .index_carousel {
    display: none;
    visibility: hidden;
  }

  .img_arrow {
    width: 15px;
    height: auto;
  }

}