
.stars_container {
    display: inline-block;
    position: relative;
}

.stars{
    width:25px;
    height: 24px;
}

@media (max-width: 1024px) {
    .stars{
        width:16px;
    }
  }

.stars_filled {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
}



