.housing_rating {
    display: inline-block;
}

.stars_container {
    display: inline-block;
    position: relative;
    font-size: 0;
}

.stars_filled {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
}

.stars_empty {
    display: inline-block;
}

.star_icon {
    width: 25px;
    height: 24px;
    fill: #FFD700;
    margin-right: 3px;
}