
.stars_container {
    display: inline-block;
    position: relative;
    font-size: 0;
}

.stars_filled {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
}

.stars_empty {
    display: inline-block;
    fill : grey
}

